/* tabela mobile */

.adoptions-list-container{
  width: 95vw;
  display: none;
  align-self: center;
}
.adoptions-list-mobile{
  border-radius: 10px;
  overflow: hidden;
  display: none;
  margin: 10px;
  box-shadow: 0px 0px 9px 0px rgba(0 , 0, 0, 0.2);
  margin-bottom: 40px;
}

/* Sumário */

.adoption-list-item-summary{
  background-color: #FCC8D1;
  padding: 5px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adoption-basic-details>p>.adoption-status{
  padding: 5px;
}

/* icone CaretDown do item*/
.adoption-list-item-summary>svg.active{
  animation: rotateCaretToUp 0.2s ease-in-out;
  transform: rotate(180deg);
}
.adoption-list-item-summary>svg.inactive{
  animation: rotateCaretToDown 0.2s ease-in-out;
  transform: rotate(0deg);
}


/* Descrição */

.adoption-list-item-description{
  background-color: #FEF2F4;
  padding: 0px 20px;
  height: 0px;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(209 , 77, 114, 0.7);
}
.adoption-list-item-description::-webkit-scrollbar {
  display: none;
}
.adoption-list-item-description.active{
  padding: 20px;
  padding-bottom: 50px;
  height: 350px;
  animation: openingItemDescription 0.2s ease-in-out;
}
.adoption-list-item-description.inactive{
  padding: 0px 20px;
  height: 0px;
  animation: closingItemDescription 0.2s ease-in-out;
}
.adoption-list-item-description>p{
  margin-bottom: 25px;
}

.pagination-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.pagination-list-button{
  background-color: #D14D72;
  border: 2px solid #FCC8D1;
  border-radius: 10px;
  cursor: pointer;
}
.pagination-list-button:disabled {
  background-color: #D14D72;
  opacity: 0.5;
  cursor: auto;
}

@keyframes openingItemDescription{
  0%{
    height: 0px;
  }
  100%{
    height: 350px;
  }
}
@keyframes closingItemDescription{
  0%{
    height: 350px;
  }
  100%{
    height: 0px;
  }
}

@keyframes rotateCaretToUp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateCaretToDown {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@media (max-width: 914px){
  .adoptions-list-container{
    display: contents;
  }
  .adoptions-list-mobile{
    display: block;
  }
}
@media (min-width: 700px) and (max-width: 914px){
  .adoption-basic-details{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}