body{
    background-color: #FEF2F4;
}

.catalog-header{
    display: flex;
    justify-content: left;
    margin-left: 100px;
}

.filter-container{
    margin: 0 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 780px) {
    .catalog-header{
        margin-left: 80px;
    }    
}

@media (max-width: 480px) {
    .catalog-header{
        margin-left: 50px;
    }    
}