/* Container principal do perfil */
.profile-details {
  background-color: #d14d72;
  border-radius: 16px;
  padding: 1.5rem;
  color: white;
  margin: 10px auto;
}

/* Grid para exibir as informações do perfil */
.profile-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/* Estilo para os rótulos das informações */
.info-label {
  font-weight: bold;
  color: #242B33;
}

.info-value {
  font-family: 'Alexandria';
  color: #242B33;
}

/* Ajustes responsivos */
@media (max-width: 480px) {
  .profile-info-grid {
    grid-template-columns: 1fr;
  }
}