@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

.custom-title {
  font-size: 2rem;
  font-family: 'Alexandria', sans-serif;
  font-weight: 700;
  color: #D14D72;
  margin-bottom: 0.5rem;
}

.proud-ongs-underline {
  width: 70px;
  height: 5px;
  background: #d14d72;
  border-radius: 3px;
  margin-top: 0.1rem;
  margin-left: 0;
}
