.input-field {
    margin-bottom: 1rem;
  }
  
  .form-input {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #fcc8d1;
    background-color: white;
    transition: all 0.3s ease;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #d14d72;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(209, 77, 114, 0.1);
  }