@import url("https://fonts.googleapis.com/css?family=Alexandria");

body {
  font-family: 'Alexandria', sans-serif;
}

.carousel {
    position: relative;
    overflow: hidden;
    max-width: 100%; /* Garante que o carousel não ultrapasse a largura da tela */
    margin: 0 auto; /* Centraliza o carousel */
    padding: 0 20px; /* Adiciona um pouco de espaçamento nas laterais */    
}

.containerCards {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    gap: 10px;
    max-width: 1200px; /* Define uma largura máxima */
    margin: 0 auto; /* Centraliza o conteúdo */
}

.slick-arrow:before {
    height: 10px;
    width: 10px;
    color: rgba(172, 19, 95) !important;
    z-index: 1;
}

/* Responsividade */
@media (max-width: 1024px) {
    .containerCards {
        padding: 10px 20px;
        gap: 8px;
    }
}

@media (max-width: 768px) {
    .containerCards {
        padding: 10px 15px;
        gap: 6px;
    }

    .slick-arrow:before {
        height: 8px;
        width: 8px;
    }
}

@media (max-width: 480px) {
    .containerCards {
        padding: 5px 10px;
        gap: 5px;
    }

    .slick-arrow:before {
        height: 6px;
        width: 6px;
    }
}