@import url("https://fonts.googleapis.com/css?family=Alexandria");

body{
    font-family: 'Alexandria';
}

.carousel{
    position: relative;
    overflow: hidden;
}

.containerCards {
    padding: 10px 90px;
    gap: 10px;
}
.slick-arrow:before{
    height: 10px;
    width: 10px;
    color: rgba(172, 19, 95) !important;
    z-index: 1;
}