@import url("https://fonts.googleapis.com/css?family=Alexandria");

.card_ong {
    background-color: #FFABAB;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 200px; /* Largura fixa */
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    aspect-ratio: 3 / 4; /* Proporção fixa */
}

.card_ong:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: #D14D72 2px solid;
}

.card_img_placeholder {
    width: 100%;
    height: 70%; /* A imagem ocupa 50% do card */
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.card_img_placeholder > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card_ong_info {
    text-align: center;
    width: 100%;
}

.card_ong_name {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    color: #D14D72;
}

.card_ong_detail {
    font-size: 14px;
    margin: 3px 0;
    color: #242B33;
}

/* Responsividade */
@media (max-width: 1024px) {
    .card_ong {
        width: 180px; /* Ajusta a largura em telas médias */
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .card_ong {
        width: 150px; /* Ajusta a largura em tablets */
    }

    .card_ong_name {
        font-size: 16px;
    }

    .card_ong_detail {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .card_ong {
        width: 120px; /* Ajusta a largura em dispositivos móveis */
    }

    .card_ong_name {
        font-size: 14px;
    }

    .card_ong_detail {
        font-size: 12px;
    }
}